.section {
  height: 100vh;
  min-width: 1000px;
  color: white;
  font-size: 1.55rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}

.contents {
  height: 70vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.headline {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}

.news {
  font-size: 1.2rem;
  line-height: 2rem;
}

.quote {
  font-size: 0.8rem;
  text-align: right;
}
