.main-container {
  display: flex;
  justify-content: center;
}
.progress-container {
  width: 12vw;
  min-width: 12vw;
  color: white;
  position: relative;
  /* display: flex; */
}
.dashboard-container {
  /* flex: 1 1 auto; */
  display: flex;
  flex-direction: column;
  width: 88vw;
  padding: 0.5rem;

  /* align-items: center; */
  /* justify-content: flex-start; */
}
